body,html{
  margin: 0;
  padding: 0;
}

.bg{
  background-image: url("/img/teacup.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  text-align: center;
}

h1{
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em 0;
  font-family: 'Satisfy',cursive;
  font-size: 80px;
  color: #76323f;
}

.btn{
  font-size: 18px;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #fff;
  font-family: 'Satisfy',cursive;
  text-decoration: none;
  border-radius: 10px;
}

.btn:hover{
  
  color: #76323F;
  border: 1px solid #D7CEC7;
}
