* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-size: 20px;
  line-height: 1.6;
  background: #D7CEC7;
  color: #565656;
  font-family: 'Homemade Apple', cursive;
}

img {
  display: block;
  width: 100%;
  height: auto;

}

/* Style the navbar*/
#navbar {
  overflow: hidden;
}
.navcolor{
  background-color: #EBEAE6;
  position: fixed;
}

/* navbar links */
#navbar a {
  float: left;
  display: block;
  color: #565656;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-family: 'Satisfy',cursive;
}

/* The sticky class */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
}

.sticky + #navbar {
  padding-top: 60px;
}

/* Showcase */
#showcase {
  background-image: url('../img/showcase.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

}

/* Core Styles */
h1 {
  font-family: 'Satisfy',cursive;
  font-size: 75px;
  color: #76323F;
  text-align: center;
  padding-bottom: 0;
}

h2 {
  margin: 0;
  padding: 0.2em 0.5em;
  text-align: center;
  font-family: 'Bad Script',cursive;
  font-size: 45px;
  color: #76323F;
}

#showcase p {
  margin: 0;
  padding: 0.5em 0.5em;
  font-family: 'Bad Script',cursive;
  font-size: 18px;
}

.content-wrap {
  padding: 0.5em 1.5em;
}

#section-a,
#section-b {
  padding-bottom: 2em;
  background-size: cover;
  background-position: center;
  height: 100vh;

}

#section-a img {
  width: 40%;
  height: auto;
  display: block;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

#section-a h2 {
  padding-bottom: 0;
}

#section-a p {
  display: block;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: justify;
}

/* #moveMe img {
  width: 250px;
  padding: 10px;
  cursor: move;
  z-index: 10;
} */
#section-b img {
  display: block;
  max-width: 760px;
  margin: 2em auto;
}

#section-c {
  padding: 2em 1em 1em;
}

#section-c ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-c li {
  margin-bottom: 1em;
}

#section-d {
  padding: 2em;
}

.card-content {
  padding: 1.5em;
}

.container {
  max-width: 760px;
  margin: auto;
  border: #565656 solid 3px;
  background: #565656;
}

.main-img img {
  width: 100%;
  display: block;
  margin: 0px auto;
  padding-bottom: 10px;
}

.imgs img {
  width: 100%;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 5px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}

footer {
  padding-top: 10em;
  color: #565656;
  text-align: center;
}


/* Media Queries */
@media(min-width: 700px) {
  .grid{
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto,25em)) 1fr;
  }

  .content-wrap {
    grid-column: 2/4;
  }

  #section-c h2 {
    grid-column: 2/4;
  }

  #section-c ul {
    grid-column: 2/4;
    display: flex;
    justify-content: space-around;
  }

  #section-c li {
    width: 31%;
  }

  #section-d {
    grid-column: 1/5;
  }

  #main-footer div{
    grid-column: 2/4;
  }

}
